block variables

doctype html
html
    head
        meta(charset="UTF=8")
        title #{title} 
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, inital-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-complitible")
        link(href="/styles/app.min.css", rel="stylesheet")
        link(href="/styles/normalize.css", rel="stylesheet")
        

    body
        block content